.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: aqua;
}

.topbar {
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: rgb(18, 26, 97);
}

.row {
  align-self: center;
  margin: 5px 0px 5px 0px;
}

.col {
}

#posts {
  padding: 20px;
  background-color: lightblue;
}

#owncontent {
  background-color: lightblue;
}

#Author {
  text-align: left;
  color: rgb(27, 35, 104);
}

.btn.btn-primary {
  align-self: center;
  color: white;
  background-color: rgb(18, 26, 97);
}

.btn {
  size: medium;
  align-self: center;
  color: white;
  background-color: rgb(18, 26, 97);
}
